<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form >
        <fieldset>

            <label for="userName">Full Name</label>
            <input placeholder="Jimmer fer" id="userName" type="name">

            <label for="email">Email</label>
            <input type="email" placeholder="Lor@bar.com" name='email' id='email' />

            <button id="signin_button" type='submit'>Sign In</button>
        </fieldset>
    </form>

</body>
</html>