<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Competitive fortnite web app">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <title>New</title>
</head>
    <body>
        <header>
            <div class="topnav" id="myTopnav">
                <img src="https://pbs.twimg.com/media/DS-XbyJW0AAX_Dk.png" class="nav-logo">
                <a href="/" class="active">Home</a>
                <a href="/news">News</a>
                <a href="/settings">Pro-Settings</a>
                <a href="/forums">Find Players</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i></a>

            </div>
        </header>
        <main>
            <div class="row">
                <div class="col-12">
                    <table id="grid" style="width:100%">
                        <tr>
                            <th>player</th>
                            <th>sensitivity</th>
                            <th>dpi</th>
                        </tr>
                        <tr>
                            <td>Ninja</td>
                            <td>.10</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>tsm myth</td>
                            <td>.07</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Ninja</td>
                            <td>.10</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>tsm myth</td>
                            <td>.07</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Ninja</td>
                            <td>.10</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>tsm myth</td>
                            <td>.07</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Ninja</td>
                            <td>.10</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>tsm myth</td>
                            <td>.07</td>
                            <td>800</td>
                        </tr>
                    </table>
                </div>

            </div>
        </main>
    </body>