* {
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Metrophobic';
    background: url("../images/fortnite_dark_voyager_4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.settings-body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png");
}
body header {
    background: #282828;
}
legend {
  text-align: center;
  position: relative;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}
fieldset {
  height: 460px;
  margin: 0;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
}

#email, #userPassword, #signup_button, #userName {
  display: block;
  height: auto;
  width: 100%;
  text-align: left;
  padding: 15px;
  border: 2px solid #D3D3D3;
  border-radius: 3px;
  background: #fcfcfc;
  font-size: 18px;
  font-weight: 400;
  margin: 10px auto 20px;
  font-weight: 900;
  color: #000000;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    background-color: #8776ed;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

form  {
  color: #000000;
  background-color: #f5f5f5;
  margin: 0 auto;
  font-weight: 900;
  border: solid 1px black;
  border-radius: 2px;
} 
.img-tweet {
    width: 300px;
    height: 275px;
}
.col-6 h1{
    padding-top: 0;
    padding-bottom: 2px;
    background: #fff;
    opacity: .8;
    display: block;
    font-size: 55px;
    font-weight: 900;
}
#Welcome-container p {
     font-size: 27px; 
     font-weight: 900;
}
#Welcome-container {
  font-weight: 900;
}
.mySlides {
    border: 1px solid black;
    height: 315px;
    width: 100%;
}
.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background: black;
    opacity: .95;
    border: 1px solid grey;
}
.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}
.col-3, .col-4, .col-6, .col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

.col-3, .col-4, .col-6, .col-12 {
    width: 100%;
}
 .home-col-6 {
    border: 2px solid silver;
}
@media only screen and (min-width: 640px) {
    /* 3 columns, 3/12 in % */
    .col-3 {
        width: 25%;
    }

    /* 4 columns */
    .col-4 {
        height: 300px;
        width: 33.3%
    }

    /* 6 columns */
    .col-6 {

        width: 50%
    }
    .col-12 {
        width: 100%;
    }
}
.col-12 {
    text-align: center;
}
.col-12 h1 {
    text-align: center;
}
p {
    font-weight: 900;
    font-size:30px;
}
body header {
    background: #282828;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.nav-logo {
    float: left;
    width: 70px;
    height: 65px;
    padding: 14px 16px;;
}
.banner {
    height: 120px;
    background: white;
    opacity: .9;
    border: 2px solid darkgray;
    padding-bottom: 10px;
    margin-bottom: 2px;
}
.banner h1 {
    font-family: Allan;
    font-size: 60px;
}
#news-main {
    height: 900px;
    width: 100%;
    background-color: #000000;
    opacity: .9;
}
.video img{
    width: 440px;
    height: 180px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 16px;
    border-right: 1px solid grey;
    font-size: 17px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: #000000;
}
.topnav .icon {
    display: none;
}
.card {
    height: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
}
.card:hover {
    cursor: pointer;
}
.card-image {
    border: 2px solid darkgray;
    height: 45%;
    width: 100%;
}
.col-4 .card-content {
    border: 2px solid darkgray;
    background-color: white;
    height: 54%;
}
.card-content a {
    margin: 0.5em 0;
}
.card-content h3 {
    color: black;
    display: block;
    height: 90%;
    font-size: 16px;
    padding: 10px;
    margin: auto;
}
.card-content p {
    font-size: 14px;
    font-weight: bold;
}
p {
    font-family: "Metrophobic";
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 3px;
    margin: 0;
}
.col-4 {
    height: 400px;
}
.col-12{
    color: white;
    background-color: #6A5ACD;
}

button:hover {
    cursor: pointer;
}
section.white {
    border: 1px solid black;
    display: block;
    height: 150px;
    width: 100%;
    background-color: #f5f5f5;
    opacity: .9;
    padding-right: 2px;
}
#js-new-player {
    display: inline-block;
    width: 50%;
}
.js-post-results h2 {
    padding-top: 0;
    text-align: left;
    border-bottom: 1px solid black;
}
.js-post-results p {
    text-align: left;
}
#signup_form {
    height: 700px;
    padding-top: 35px;
}
#signup_button {
    background-color: #1C6EA4;
    color: white;
}
table.blueTable {
    background-color: #F5F3F3;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #7D7D7D;
    padding: 5px 5px;
}
table.blueTable tbody td {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 14px;
    color: #00020A;
}
table.blueTable tr:nth-child(even) {
    background: #B3B3B3;
}
table.blueTable thead {
    background: #603e94;
    background: -moz-linear-gradient(top, #726c9b 0%, #554e87 66%, #603e94 100%);
    background: -webkit-linear-gradient(top, #726c9b 0%, #554e87 66%, #603e94 100%);
    background: linear-gradient(to bottom, #726c9b 0%, #554e87 66%, #603e94 100%);
}
table.blueTable thead th {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}
table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
#js-settings-results {
    padding: 0;
    background: white;
    border: 1px solid grey;
    height: 900px;
}

 .js-forum {
    margin-top: 10px;
    height: 150px;
    padding-top: 10px;
    border: 3px solid white;
}
#js-username-p {
    display: inline-block;
}
.col-12 button {
    display: inline-block;
    width: 25%;
}
.p-player-post {
    display: block;
    height: 60%;
    padding-top: 2px;
}
#objID {
    font-size: 5px;
}
.forums-footer {
    display: block;
    height: 20%;
}
h4.result-header {
    display: inline-block;
    width: 85%;
    color: white;
}
.motivation-container {
    border: 2px solid silver;
    background: white;
}
.motivation-container h4 {
    text-align: center;
    font-size: 30px;
    color: black;
}
.motivation-container p {
    display: block;
    height: 170px;
    width: auto;
}
#js-news-results h1 {
    text-align: center;
    font-family: 'Allan';
    color: white;
}
.profile-container {
    outline: 1px solid black;
}
.profile-container p, a {
    font-family: 'Metrophobic';
}
.fa, .fa-youtube-play {
    display: inline-block;
    height: 10%;
    width: 5%;
}
.settings-container {
    padding: 0;
    background: #666666;
    border: none;
}
.welcome-user {
    font-family: 'Merienda', cursive;
    font-family: 'Hanalei Fill', cursive;
    font-family: 'Jockey One', sans-serif;
    color: white;
    text-align: center;
}
#js-player-entry-form {
  color: black;
  background-color: whitesmoke;
  margin: 0 auto;
  font-weight: 900;
  border: none;
}
.white {
    background: none;    
    border: none;
}
#settings-banner h1 {
    font-family: Allan;
    font-size: 50px;
}
#settings-banner {
    background-color: none;
    background: none;
}
 
#js-new-player {
    background-color: white;
    border: none;
    border-bottom: 1px solid ;
}
.js-item-delete {
    background-color: whitesmoke;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .col-4 {
    height: 250px;
    }
    .video img {
    width: 300px;
    height: 150px;
    }
    #Main-header {
    padding-bottom: 200px;
    font-family: 'Allan';
    font-size: 55px;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}